# Git
.git
.gitignore
.github

# Docker
.dockerignore

# Documentation
README.md
CHANGELOG.md
LICENSE
docs/

# Environments
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
database/*.sql
